.board-spaces {
  margin: 10px 0;
  word-wrap: break-word;
}

.dice {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: black;
  color: red;
}

.cards { margin-bottom: 15px; }

.cards .card {
  border: 2px solid black;
  padding: 8px 4px;
  margin-right: 3px;
  display: inline-block;
}

.cards .card.selected {
  border: 2px dashed black;
  font-weight: bold;
}

.cards .card.law {
  min-height: 22px;
  vertical-align: bottom;
}

.being .card {
  margin-left: 5px;
  margin-right: 4px;
}
