.section {
  width: 100%;
  margin-bottom: 15px;
}

.section.actions {
  background-color: white;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100rem;
}

.section.actions + .section {
  padding-top: 110px;
}

.section.being {
  width: 58%;
  display: inline-block;
}

.section.fd {
  vertical-align: top;
  height: 288px;
  width: 288px;
  display: inline-block;
  position: relative;
}

.dice-container {
  display: inline-block;
  height: 6.2em;
}

.buttons-container {
  display: inline-block;
  margin-right: 8px;
}

.buttons-container button {
  margin: 0 8px 0 0;
}

.game-info {
  display: flex;
  width: 100%;
  list-style-type: none;
}

.game-info li {
  margin: 0;
  padding-right: 8px;
}

.turn-message {
  display: inline-block;
  font-style: italic;
  font-weight: 500;
}

.board {
  word-wrap: break-word;
}

blockquote .board {
  position: relative;
  height: 0;
  top: -40px;
}

.board .space-wrap {
  position: relative;
}

.board span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin: 1px;
}

.board .description {
  position: absolute;
  top: 0px;
  left: 20px;
}

.board .wild {
  background-color: #BB3EDA;
  position: absolute;
  top: 0px;
  left: 0px;
}

.board .food {
  background-color: #F6D155;
  position: absolute;
  top: 0px;
  left: 0px;
}

.board .food.double {
  background-color: #C49208;
}

.board .air {
  background-color: #95DEE3;
  position: absolute;
  top: 0px;
  left: 0px;
}

.board .air.double {
  background-color: #30ACB5;
}

.board .impression {
  background-color: #FA9A85;
  position: absolute;
  top: 0px;
  left: 0px;
}

.board .impression.double {
  background-color: #F64923;
}

.board .card {
  background-color: #CBCBCB;
  position: absolute;
  top: 0px;
  left: 0px;
}

.card .dot {
  background-color: black;
  position: absolute;
  height: 6px;
  width: 6px;
  top: 4px;
  left: 4px;
}

.board .law {
  background-color: #65B384;
  position: absolute;
  top: 0px;
  left: 0px;
}

.law .dot {
  background-color: red;
  position: absolute;
  height: 6px;
  width: 6px;
  top: 4px;
  left: 4px;
}

.board .decay {
  background-color: grey;
  position: absolute;
  top: 0px;
  left: 0px;
}

.board .player {
  position: absolute;
  left: 0px;
}

.cards .card {
  border: 1px solid black;
  border-radius: 4px;
  margin: 3px 4px 3px 4px;
  display: inline-block;
  position: relative;
  padding: 3px;
}

.cards .card.selected {
  border: 3px dashed black;
  margin: 1px 2px 1px 2px;
}

.cards .card.law {
  min-height: 22px;
  vertical-align: bottom;
}

/* played/obeyed law state */
.card-state {
  position: absolute;
  font-weight: bold;
  top: -22px;
}

.card-img {
  vertical-align: middle;
  height: 67px;
  width: 53px;
}

span.laws {
  margin: 0 1.0em;
}

.note {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.astral, .mental {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
}
.astral.piece {
  background-color: lightgreen;
}
.mental.piece {
  background-color: coral;
}
.note.food {
  background-color: yellow;
}
.note.air {
  background-color: lightblue;
}
.note.impression {
  background-color: red;
}

.note .chip, .being .piece {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
}

#food-note-0 {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#food-note-1 {
  position: absolute;
  bottom: 24px;
  left: 0px;
}

#food-note-2 {
  position: absolute;
  bottom: 48px;
  left: 0px;
}

#food-note-3 {
  position: absolute;
  bottom: 96px;
  left: 0px;
}

#food-note-4 {
  position: absolute;
  bottom: 120px;
  left: 0px;
}

#food-note-5 {
  position: absolute;
  bottom: 144px;
  left: 24px;
}

#food-note-6 {
  position: absolute;
  bottom: 144px;
  left: 48px;
}

#food-note-7 {
  position: absolute;
  bottom: 144px;
  left: 96px;
}

#food-chip-0 {
  position: absolute;
  bottom: 144px;
  left: 120px;
}

#food-chip-1 {
  position: absolute;
  bottom: 144px;
  left: 144px;
}

#food-chip-2 {
  position: absolute;
  bottom: 144px;
  left: 168px;
}

#air-note-0 {
  position: absolute;
  bottom: 72px;
  left: 0px;
}

#air-note-1 {
  position: absolute;
  bottom: 72px;
  left: 24px;
}

#air-note-2 {
  position: absolute;
  bottom: 72px;
  left: 48px;
}

#air-note-3 {
  position: absolute;
  bottom: 72px;
  left: 96px;
}

#air-note-4 {
  position: absolute;
  bottom: 72px;
  left: 120px;
}

#air-note-5 {
  position: absolute;
  bottom: 72px;
  left: 144px;
}

#air-chip-0 {
  position: absolute;
  bottom: 72px;
  left: 168px;
}

#air-chip-1 {
  position: absolute;
  bottom: 72px;
  left: 192px;
}

#air-chip-2 {
  position: absolute;
  bottom: 72px;
  left: 216px;
}

#imp-note-0 {
  position: absolute;
  bottom: 48px;
  left: 72px;
}

#imp-note-1 {
  position: absolute;
  bottom: 96px;
  left: 72px;
}

#imp-note-2 {
  position: absolute;
  bottom: 120px;
  left: 72px;
}

#imp-note-3 {
  position: absolute;
  bottom: 168px;
  left: 72px;
}

#imp-chip-0 {
  position: absolute;
  bottom: 192px;
  left: 72px;
}

.being .card, .being .holder {
  margin-right: 8px;
}

.being .pieces {
  height: 1em;
}

.being .holder {
  width: 65px;
  padding-left: 10px;
  display: inline-block;
}

.being .piece {
  margin: 2px 2px;
  vertical-align: top;
}

/* Modal Overrides */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  z-index: 10;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

/* Modal Overrides */
.ReactModal__Content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 65%;
  max-width: 480px;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.modal-container {
  text-align: center;
}

.modal-body {
  white-space: pre-line;
}

.modal-body input {
  margin-left: 8px;
  max-width: 300px;
}

.modal-buttons {
  width: 100%;
}

.modal-buttons button {
  cursor: pointer;
  margin-right: 16px;
}

.modal-error {
  color: red;
}

.game-log.collapse .game-events {
  display: none;
}
